default:
  interruptible: true

include:
  # - template: Jobs/SAST.gitlab-ci.yml
  # - template: Jobs/Dependency-Scanning.gitlab-ci.yml
  # - template: Security/SAST.gitlab-ci.yml
  # - template: Security/SAST-IaC.latest.gitlab-ci.yml
  # - template: Security/Secret-Detection.gitlab-ci.yml

image: ghcr.io/astral-sh/uv:bookworm-slim
# image: ghcr.io/astral-sh/uv:${PYTHON_VERSION}-bookworm-slim

stages:
  - lint
  - test
  - docs
  - deploy
  - release

variables:
  COVERAGE_DIRECTORY: "src"
  SECURE_ANALYZERS_PREFIX: "$CI_TEMPLATE_REGISTRY_HOST/security-products"
  AST_ENABLE_MR_PIPELINES: "true"
  #
  SAST_IMAGE_SUFFIX: ""
  SAST_EXCLUDED_PATHS: "spec, test, tests, tmp"
  UV_VERSION: "0.9.17"
  PYTHON_VERSION: "3.12"
  BASE_LAYER: bookworm-slim
  KUBERNETES_CPU_REQUEST: 3
  KUBERNETES_CPU_LIMIT: 5
  KUBERNETES_MEMORY_REQUEST: 150Mi
  KUBERNETES_MEMORY_LIMIT: 700Mi
  # GitLab CI creates a separate mountpoint for the build directory,
  # so we need to copy instead of using hard links.
  UV_LINK_MODE: copy
  GIT_SSL_NO_VERIFY: "1" # only if needed
  GIT_STRATEGY: fetch

.base_uv:
  variables:
    UV_CACHE_DIR: $CI_PROJECT_DIR/.uv_cache
  cache:
    - key:
        files:
          - uv.lock
      paths:
        - $UV_CACHE_DIR

.base_ruff:
  stage: lint
  interruptible: true
  image:
    name: ghcr.io/astral-sh/ruff:bookworm-slim
  before_script:
    - cd $CI_PROJECT_DIR
    - ruff --version

ruff-check:
  stage: lint
  extends: .base_ruff
  script:
    - ruff check --config ./pyproject.toml --output-format=gitlab > code-quality-report.json
  artifacts:
    reports:
      codequality: $CI_PROJECT_DIR/code-quality-report.json
  rules:
    - if: $CI_SERVER_HOST == "gitlab.com"
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        compare_to: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
        paths:
          - src/**/*
    - if: $CI_PIPELINE_SOURCE == "schedule"

ruff-format:
  stage: lint
  extends: .base_ruff
  script:
    - ruff format --diff --config ./pyproject.toml
  rules:
    - if: $CI_SERVER_HOST == "gitlab.com"
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        compare_to: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
        paths:
          - src/**/*
    - if: $CI_PIPELINE_SOURCE == "schedule"

pages:
  extends: .base_uv
  allow_failure: true
  stage: docs
  interruptible: true
  publish: public
  script:
    - uv run --group docs mkdocs build --site-dir public --verbose
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .cache/
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_SERVER_HOST == "gitlab.com"
      when: never
    - if: $CI_COMMIT_REF_NAME == "main"
      changes:
        paths:
          - docs/**/*
          - src/**/*
          - mkdocs.yml

deploy-from-main:
  stage: deploy
  variables:
    KUBERNETES_MEMORY_REQUEST: "150Mi"
    KUBERNETES_MEMORY_LIMIT: "150Mi"
  image: alpine:latest
  rules:
    - if: $CI_SERVER_HOST == "gitlab.com"
      when: never
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      changes:
        paths:
          - src/**/*
          - pyproject.toml
          - .gitlab-ci.yml
  before_script:
    - apk add --no-cache git curl jq git-lfs uv
    - uv sync --locked
    - export PACKAGE_VERSION=$(uv version --short)
    - export TAGS=$(git tag -l $PACKAGE_VERSION)
    - git config --global user.email "$GITLAB_USER_EMAIL"
    - git config --global user.name "$GITLAB_USER_ID-Bot"
    - git remote set-url origin https://oauth2:${PROJECT_BACKMERGE_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git
    - echo $PACKAGE_VERSION
    - echo $TAGS
  script:
    - |
      if [$TAGS == ""]; then
        echo "running deploy job"
        git tag $PACKAGE_VERSION
        git push origin $PACKAGE_VERSION
        git status
        echo "running deploy job"
      else
        echo "New package version already has existing tag, skipping."
      fi

release-package:
  extends: .base_uv
  allow_failure: true
  stage: release
  script:
    - uv sync --locked
    - uv build
    - uv publish --username gitlab-ci-token --password "$CI_JOB_TOKEN" --check-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi --publish-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi
    # - uv publish //with PyPI obscured credentials
  artifacts:
    paths:
      - ./dist/*
  rules:
    - if: $CI_SERVER_HOST == "gitlab.com"
      when: never
    - if: '$CI_COMMIT_TAG =~ /^(|v)\d+\.\d+\.\d+$/ && $CI_COMMIT_REF_PROTECTED == "true"'

prepare_job:
  stage: release
  image: alpine:latest
  variables:
    PACKAGE_VERSION: $(uv version --short)
  script:
    - apk add curl jq uv
    - 'curl -H "PRIVATE-TOKEN: $CI_API_TOKEN" "$CI_API_V4_URL/projects/$CI_PROJECT_ID/repository/changelog?version=$CI_COMMIT_TAG" | jq -r .notes > RELEASENOTES.md'
  artifacts:
    paths:
      - RELEASENOTES.md
  rules:
    - if: $CI_SERVER_HOST == "gitlab.com"
      when: never
    - if: '$CI_COMMIT_TAG =~ /^(|v)\d+\.\d+\.\d+$/ && $CI_COMMIT_REF_PROTECTED == "true"'
  needs:
    - job: deploy-from-main
      optional: true

release-from-tag:
  stage: release
  variables:
    KUBERNETES_MEMORY_REQUEST: "15Mi"
    KUBERNETES_MEMORY_LIMIT: "15Mi"
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_SERVER_HOST == "gitlab.com"
      when: never
    - if: '$CI_COMMIT_TAG =~ /^(|v)\d+\.\d+\.\d+$/ && $CI_COMMIT_REF_PROTECTED == "true"'
  release:
    tag_name: "$CI_COMMIT_TAG"
    description: "RELEASENOTES.md"
    ref: "$CI_COMMIT_SHA"
  script:
    - echo "running release job"
  needs:
    - job: prepare_job
      artifacts: true
    - job: release-package
      artifacts: true

changelog:
  image: alpine:latest
  stage: release
  rules:
    - if: $CI_SERVER_HOST == "gitlab.com"
      when: never
    - if: '$CI_COMMIT_TAG =~ /^(|v)\d+\.\d+\.\d+$/ && $CI_COMMIT_REF_PROTECTED == "true"'
  before_script:
    - apk add --no-cache git
    - git config --global user.email "ci@gitlab.com"
    - git config --global user.name "GitLab CI"
  script:
    - |
      echo "MR title: $CI_MERGE_REQUEST_TITLE"
      echo "MR IID: $CI_MERGE_REQUEST_IID"

      TITLE="$CI_MERGE_REQUEST_TITLE"
      IID="$CI_MERGE_REQUEST_IID"

      TYPE="${TITLE%%:*}"
      MESSAGE="${TITLE#*:}"
      MESSAGE="$(echo "$MESSAGE" | xargs)"

      SECTION="Other"
      case "$TYPE" in
        feat) SECTION="Features" ;;
        fix) SECTION="Bug Fixes" ;;
        docs) SECTION="Documentation" ;;
        refactor) SECTION="Refactoring" ;;
        test) SECTION="Tests" ;;
        chore) SECTION="Chores" ;;
      esac

      # Ensure CHANGELOG.md exists
      if [ ! -f CHANGELOG.md ]; then
        echo "# Changelog" > CHANGELOG.md
      fi

      {
        echo ""
        echo "### $SECTION"
        echo "- $MESSAGE (!${IID})"
      } >> CHANGELOG.md

      git add CHANGELOG.md
      git commit -m "chore: update changelog [skip ci]"
      git push origin HEAD:main
  needs:
    - job: release-from-tag

sbom:
  stage: release
  image: alpine:latest
  rules:
    - if: $CI_SERVER_HOST == "gitlab.com"
      when: never
    - if: '$CI_COMMIT_TAG =~ /^(|v)\d+\.\d+\.\d+$/ && $CI_COMMIT_REF_PROTECTED == "true"'
  before_script:
    - apk add --no-cache git curl jq git-lfs uv
    - curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin
  script:
    - syft . -o cyclonedx-json > cyclonedx-sbom.json
  artifacts:
    name: "SBOM Report"
    reports:
      cyclonedx: cyclonedx-sbom.json
    paths: [cyclonedx-sbom.json]
  needs:
    - job: release-from-tag

unit-test:
  extends: .base_uv
  stage: test
  allow_failure: true
  script:
    - echo "I made it to script"
    - uv sync --locked
    - uv run --group dev pytest tests/unit_tests -v
  rules:
    - if: $CI_SERVER_HOST == "gitlab.com"
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      changes:
        paths:
          - src/**/*

sast:
  stage: test
  artifacts:
    access: "developer"
    reports:
      sast: gl-sast-report.json
    paths: [gl-sast-report.json]
  rules:
    - when: never
  variables:
    SEARCH_MAX_DEPTH: 4
  cache: []
  script:
    - echo "$CI_JOB_NAME is used for configuration only, and its script should not be executed"
    - exit 1

.sast-analyzer:
  extends: sast
  allow_failure: true
  script:
    - /analyzer run

iac-sast:
  extends: sast
  allow_failure: true
  script:
    - /analyzer run
  rules:
    - when: never

kics-iac-sast:
  extends: iac-sast
  image:
    name: "$SAST_ANALYZER_IMAGE"
  variables:
    SAST_ANALYZER_IMAGE_TAG: 6
    SAST_ANALYZER_IMAGE: "$SECURE_ANALYZERS_PREFIX/kics:$SAST_ANALYZER_IMAGE_TAG$SAST_IMAGE_SUFFIX"
  rules:
    - if: $CI_SERVER_HOST == "gitlab.com"
      when: never
    - if: $SAST_DISABLED == 'true' || $SAST_DISABLED == '1'
      when: never
    - if: $SAST_EXCLUDED_ANALYZERS =~ /kics/
      when: never
    # 1. run job in MR pipeline if mr pipelines for AST are enabled and a MR is open
    - if: $AST_ENABLE_MR_PIPELINES == "true" && $CI_PIPELINES_SOURCE == "merge_request_event"
    # 2. don't run in branch pipelines if MR pipelines for AST are enabled and there's an open MR (covered by above case)
    - if: $AST_ENABLE_MR_PIPELINES == "true" && $CI_OPEN_MERGE_REQUESTS
      when: never
    # 3. Run in branch pipeline if MR pipes are disabled for AST OR enabled but no open MRs
    - if: $CI_COMMIT_BRANCH
